<form action= "<%=users_url  %>" method="post">

<h2>Sign Up</h2>

  <label for="username"> Username:</label>
  <input type="text" name="user[user_name]" >

  <br>
  <br>

  <label for="">Password:</label>
  <input type="text" name="user[password]" >

  <br>
  <br>

  <input type="submit" value="Submit">
</form>
